body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 10px;
  }
  
  .word-container {
    margin-top: 300px;
  }
  
  #word {
    color: rgb(64, 155, 22);
  }
  
  body {
    font-family: 'Arial', sans-serif;
    background-color: #302e2e;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120vh;
    margin: 10;
}

.card {
    background-color: #ffd700;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(219, 215, 215, 0.1);
}

h1 {
    color: #302e2e;
}

p {
    color: #302e2e;
}
p1 {
  color: #302e2e;
}
.A1{
  color: rgb(249, 161, 241);
}

img {
    width: 150px;
    margin-top: 20px;
    border-radius: 8px;
   
}

.App {
  text-align: center;
 
}

.App-logo {
  height: 15vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
/* 
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
} */
 
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} 

button[type="button"] {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #f537a2;
  /* color: #fff; */
  padding: 15px 15px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 30px;
  transition: background-color 0.3s;
}

button[type="button"]:hover {
  background-color: #128e09;
}
